.App {
  text-align: left;
  padding: 50px 30%;
  background-color: black;
}

.comment-rate{
  display: flex;
  justify-content: end;
  align-items: center;
}

.icons{
  margin-left: 5px;
}

.list-group{
  margin-top: 20px;
}

.video-rates{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
