.App {
  text-align: left;
  padding: 50px 20%;
  background-color: black;
  height: 100vh;
}

.card-body{
  background: radial-gradient(circle, rgba(25,42,89,1) 0%, rgba(0,71,156,1) 100%);
  justify-content: center;
  align-items: center;
  display: flex;
  height: 200px;
  font-size: 2rem;
  color: white !important;
  font-weight: 600;
}

.card{
  border: none !important;
  border-radius: 10px !important;
  overflow: hidden;
}

.alert-warning{
  background-color: rgb(236, 179, 71) !important;
}

.display-none{
  display: none !important;
}